body
{
	background-color: rgba(0,0,0,0.2);

}
h1 ,h2 , p,h4
{
	text-align: center;
	font-style: oblique;
}
.div1
{
	text-align: center;
}
.time
{
	margin-left: -750px;
}
.title
{
	font-style: italic;
	font-size: 25px;
}
.p
{
	border-color: black;
	border-style: solid;
	border-width: 2px;
	background-color: rgba(0,155,255,0.1);
	font-style: inherit;
	font-size: 20px;
	margin-left: 200px;
	margin-right: 200px;
}
.form
{
	text-align: center;
	width: 300px;
	margin-left: 500px;
}
a
{
	font-size: 20px;
}